#define dark_white         #d6d6d6
#define light_white         #eaeaea
#define dark_black         #344d6c
#define light_black         #455e7e
#define dark_red         #ea454c
#define light_red         #ff5a5d
#define dark_yellow         #9e7e37
#define light_yellow         #b29048
#define dark_green         #388312
#define light_green        #4c9528
#define dark_blue         #2263b5
#define light_blue         #3c74c9
#define dark_magenta         #793288
#define light_magenta         #8c449b
#define dark_cyan         #ea808e
#define light_cyan         #ff93a0

*background:            light_white
*foreground:            light_black
*fadeColor:             light_white
*cursorColor:           dark_black
*pointerColorBackground:dark_black
*pointerColorForeground:dark_black

!! black dark/light
*color0:                dark_black
*color8:                light_black

!! red dark/light
*color1:                dark_red
*color9:                light_red

!! green dark/light
*color2:                dark_green
*color10:               light_green

!! yellow dark/light
*color3:                dark_yellow
*color11:               light_yellow

!! blue dark/light
*color4:                dark_blue
*color12:               light_blue

!! magenta dark/light
*color5:                dark_magenta
*color13:               light_magenta

!! cyan dark/light
*color6:                dark_cyan
*color14:               light_cyan

!! white dark/light
*color7:                dark_white
*color15:               light_white

!! URxvt Appearance
URxvt.resize-font.step: 2
URxvt.font: xft:Source Code Pro:style=Regular:size=10
URxvt.boldFont: xft:Source Code Pro:style=Bold:size=10
URxvt.italicFont: xft:Source Code Pro:style=Italic:size=10
URxvt.boldItalicfont: xft:Source Code Pro:style=Bold Italic:size=10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 16 
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false
URxvt.transparent: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
